---
- name: Install MariaDB and Python dependencies
  ansible.builtin.package:
    name:
      - mariadb-server
      - python3-PyMySQL
    state: present

- name: Ensure MariaDB is running and enabled
  service:
    name: mariadb
    state: started
    enabled: true
