- name: Install Slurm on Debian-based systems
  apt:
    name:
      - slurm-wlm
      - slurm-wlm-basic-plugins
      - slurmd
      - slurmctld
    state: present
    update_cache: true
  when: ansible_facts.os_family == "Debian"

- name: Install Slurm on RedHat-based systems
  when: ansible_facts.os_family == "RedHat"
  block:
    - name: Install Slurm repos (EPEL usually required)
      dnf:
        name: epel-release
        state: present

    - name: Install Slurm base packages (All nodes)
      dnf:
        name:
          - slurm
        state: present

    - name: Install Slurm Controller packages
      dnf:
        name: slurm-slurmctld
        state: present
      when: slurm_role == 'slurm_ctrl'

    - name: Install Slurmd
      dnf:
        name: slurm-slurmd
        state: present
      when: slurm_role == 'slurm_compute'
