- name: Set Slurm User to 'slurm' for Controller
  set_fact:
    slurm_user: slurm
    slurm_group: slurm
  when: slurm_role == 'slurm_ctrl'

- name: Set Slurm User to 'root' for Nodes
  set_fact:
    slurm_user: root
    slurm_group: root
  when: slurm_role == 'slurm_compute' or slurm_role == 'slurm_login'

- name: Ensure slurm group exists
  group:
    name: "{{ slurm_group }}"
    system: true

- name: Ensure slurm user exists
  user:
    name: "{{ slurm_user }}"
    system: true
    shell: /usr/sbin/nologin
    group: "{{ slurm_group }}"
    create_home: false

- name: Create Slurm directories (Log, Spool, Conf)
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    mode: '0755'
    recurse: true
  loop:
    - "{{ slurm_conf_dir }}"
    - "{{ slurm_log_dir }}"
    - "{{ slurm_spool_dir }}"

- name: Enable CRB Repository
  command: dnf config-manager --set-enabled crb
  changed_when: false
  ignore_errors: true

- name: Install SLURM
  include_tasks: install.yml

- name: Deploy slurm.conf
  template:
    src: slurm.conf.j2
    dest: /etc/slurm/slurm.conf
    owner: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    mode: "0644"
  notify:
    - restart slurmctld
    - restart slurmd

- name: Deploy Slurm Controller Service
  template:
    src: slurmctld.service.j2
    dest: /etc/systemd/system/slurmctld.service
    mode: '0644'
  when: slurm_role == 'slurm_ctrl'
  notify:
    - daemon reload
    - restart slurmctld

- name: Deploy Slurm Node Service
  template:
    src: slurmd.service.j2
    dest: /etc/systemd/system/slurmd.service
    mode: '0644'
  when: slurm_role == 'slurm_compute'
  notify:
    - daemon reload
    - restart slurmd

- name: Enable and start slurmd on compute nodes
  service:
    name: slurmd
    state: started
    enabled: true
    daemon_reload: true
  when: slurm_role == 'slurm_compute'

- name: Enable and start slurmctld on controller
  service:
    name: slurmctld
    state: started
    enabled: true
    daemon_reload: true
  when: slurm_role == 'slurm_ctrl'
