- name: Set Slurm User to 'slurm' for Controller
  set_fact:
    slurm_user: "{{ slurm_ctrl_user }}"
    slurm_group: "{{ slurm_ctrl_user }}"
  when: slurm_role == 'slurm_ctrl' or slurm_role == 'slurm_dbd'

- name: Set Slurm User to 'root' for Nodes
  set_fact:
    slurm_user: root
    slurm_group: root
  when: slurm_role == 'slurm_compute' or slurm_role == 'slurm_login'

- name: Ensure slurmctrld group exists
  group:
    name: "{{ slurm_ctrl_user }}"

- name: Ensure slurmctrld user exists
  user:
    name: "{{ slurm_ctrl_user }}"
    system: true
    shell: /usr/sbin/nologin
    group: "{{ slurm_ctrl_user }}"
    create_home: false

- name: Ensure slurm group exists
  group:
    name: "{{ slurm_group }}"
    system: true

- name: Ensure slurm user exists
  user:
    name: "{{ slurm_user }}"
    system: true
    shell: /usr/sbin/nologin
    group: "{{ slurm_group }}"
    create_home: false

- name: Create Slurm directories (Log, Spool, Conf)
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    mode: '0755'
    recurse: true
  loop:
    - "{{ slurm_conf_dir }}"
    - "{{ slurm_log_dir }}"
    - "{{ slurm_spool_dir }}"

- name: Enable CRB Repository
  command: dnf config-manager --set-enabled crb
  changed_when: false
  ignore_errors: true

- name: Install SLURM
  include_tasks: install.yml

- name: Deploy slurm.conf
  template:
    src: slurm.conf.j2
    dest: /etc/slurm/slurm.conf
    owner: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    mode: "0644"
  notify:
    - restart slurmctld
    - restart slurmd

- name: Setup SLURM controller
  include_tasks: slurm_ctrl.yml

- name: Setup SLURM compute nodes
  include_tasks: slurm_compute.yml

- name: Setup SLURM database daemon
  include_tasks: slurm_dbd.yml
