- name: Deploy slurmdbd.conf
  template:
    src: slurmdbd.conf.j2
    dest: /etc/slurm/slurmdbd.conf
    owner: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    mode: '0600' # CRITICAL: Contains DB password
  when: slurm_role == 'slurm_dbd'
  notify: restart slurmdbd

- name: Deploy SlurmDBD Service
  template:
    src: slurmdbd.service.j2
    dest: /etc/systemd/system/slurmdbd.service
    mode: '0644'
  when: slurm_role == 'slurm_dbd'
  notify:
    - restart slurmdbd

- name: Enable and start slurmdbd
  service:
    name: slurmdbd
    state: started
    enabled: true
    daemon_reload: true
  when: slurm_role == 'slurm_dbd'
