---
- name: Configure Basic System Settings
  hosts: all
  become: true

  tasks:
    - name: Set system hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"

    - name: Install basic packages (vim, curl)
      ansible.builtin.package:
        name:
          - vim
          - curl
          - htop
        state: present

    - name: Generate /etc/hosts file
      ansible.builtin.template:
        src: hosts.j2
        dest: /etc/hosts
        owner: root
        group: root
        mode: '0644'
