- name: Setup SLURM
  hosts: slurm_cluster
  pre_tasks:
    - name: Define Controller Hostname
      set_fact:
        my_slurm_controller: "{{ groups['slurm_controller'][0] }}"
      run_once: true

    - name: Define Controller IP
      set_fact:
        my_slurm_controller_ip: "{{ hostvars[groups['slurm_controller'][0]]['ansible_host'] }}"
      run_once: true

    - name: Construct Node Data List
      set_fact:
        my_slurm_compute_nodes_data: >-
          {{
            my_slurm_compute_nodes_data | default([]) +
            [{
              'name': item,
              'ip': hostvars[item]['ansible_host']
            }]
          }}
      loop: "{{ groups['slurm_compute_nodes'] }}"
      run_once: true

  roles:
    - role: slurm
      vars:
        slurm_controller_host: "{{ my_slurm_controller }}"
        slurm_controller_ip: "{{ my_slurm_controller_ip }}"
        slurm_compute_node_list: "{{ my_slurm_compute_nodes_data }}"
        slurm_dbd_host: "{{ my_slurm_controller }}"
      become: true

  tasks:
      - name: Firewall configuration
        become: true
        block:
        - name: Open Slurmctld port (6817) on Controller
          ansible.posix.firewalld:
            port: 6817/tcp
            permanent: true
            state: enabled
            immediate: true
          when: 
            - ansible_facts.os_family == "RedHat"
            - slurm_role == 'slurm_ctrl'

        - name: open slurmd port (6818) on compute nodes
          ansible.posix.firewalld:
            port: 6818/tcp
            permanent: true
            state: enabled
            immediate: true
          when: 
            - ansible_facts.os_family == "RedHat"
            - slurm_role == 'slurm_compute'

        - name: open slurmd port (6819) on database daemon node
          ansible.posix.firewalld:
            port: 6819/tcp
            permanent: true
            state: enabled
            immediate: true
          when: 
            - ansible_facts.os_family == "RedHat"
            - slurm_role == 'slurm_dbd'
