---
- name: Install EPEL repository
  dnf:
    name: epel-release
    state: present
    update_cache: yes

- name: Enable CRB Repository (Rocky/Alma/RHEL 9)
  command: crb enable
  when: 
    - ansible_os_family == "RedHat"
    - ansible_distribution_major_version == "9"
  ignore_errors: true  # Ignore if already enabled

- name: Install MUNGE packages (Debian/Ubuntu)
  apt:
    name:
      - munge
      - libmunge-dev
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Install MUNGE packages (RHEL/CentOS/Rocky)
  yum:
    name:
      - munge
      - munge-libs
      - munge-devel
    state: present
  when: ansible_os_family == "RedHat"
